body {
      font-family: Verdana, Geneva, sans-serif
}
h1 {
  color: #cc6600;
}
p, li {
  font-size: 10pt;
}
.endNote {
  font-size: 8pt;
}
#compare {
    position: absolute;
    top: 360px;
    left: 210px;
    background-color: #cc6600;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 2px;
    cursor: pointer;
}
.tool {
    background-color: #66ccff;
    border: none;
    color: black;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 1px 1px;
    cursor: pointer;
}
#resultsHeader {
  visibility: hidden;
}
#paraPerfect {
  visibility: hidden;
  background-color: #ccffcc;
}
#paraClose {
  visibility: hidden;
  background-color: #ffff99;
}
#paraLesser {
  visibility: hidden;
  text-decoration: underline;
}
.col1 {
  position: absolute;
  left: 30px;
}
.col2 {
  position: absolute;
  left: 300px;
}
.col3 {
  position: absolute;
  left: 570px;
}
.row1 {
  position: absolute;
  top: 120px;
}
.row2 {
  position: absolute;
  top: 140px;
}
.row3 {
  position: absolute;
  top: 330px;
}
#footer {
  position: absolute;
  top: 380px;
  width: 450px;
}
